You can pass a action tributeNoMatch to the component which acts as the callback for tributeNoMatch event emitted by Tribute.
{{#docs-demo class='input-test' as |demo|}}
  {{#demo.example name='tribute-no-match-demo.hbs'}}
    {{#ui-tribute options=replacedDemoOptions 
          tributeNoMatch=(action 'tributeNoMatch')}}
      <input placeholder='try typing @test'>
    {{/ui-tribute}}

    {{#if errorMessage}}
      <div>{{errorMessage}}</div>
      <button {{action 'clear'}} class='docs-shadow-md docs-text-brand'>Clear error</button>
    {{/if}}
  {{/demo.example}}

  {{demo.snippet 'tribute-no-match-demo.hbs'}}
  {{demo.snippet 'tribute-no-match-demo.js' label='component.js'}}
{{/docs-demo}}